{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section >
  <div class="lg-grid">
    <div class="tx-home">
      <div class="tx-hero__header">
        <h1 class="ubuntu">{{ config.extra.landing_page.title }}</h1>
      </div>
      <div class="tx-card-container">
        <a href="./concept" class="tx-card" title='{{ config.extra.landing_page.card1.tooltip }}'>
          <img src="./images/getting_started.svg"  />
          <h3>
            {{ config.extra.landing_page.card1.title }}
          </h3>
          <p>{{ config.extra.landing_page.card1.description }}</p>
        </a>
        <a href="./link-a-job" class="tx-card" title='{{ config.extra.landing_page.card2.tooltip }}'>
          <img src="./images/chains.svg"  />
          <h3>
            {{ config.extra.landing_page.card2.title }}
          </h3>
          <p>{{ config.extra.landing_page.card2.description }}</p>
        </a>
        <a href="./contribute" class="tx-card" title='{{ config.extra.landing_page.card3.tooltip }}'>
          <img src="./images/contribute.svg"  />
          <h3>
            {{ config.extra.landing_page.card3.title }}
          </h3>
          <p>{{ config.extra.landing_page.card3.description }}</p>
        </a>
        <a href="./faq-categories" class="tx-card" title='{{ config.extra.landing_page.card4.tooltip }}'>
          <img src="./images/faq.svg"  />
          <h3>
            {{ config.extra.landing_page.card4.title }}
          </h3>
          <p>{{ config.extra.landing_page.card4.description }}</p>
        </a>
      </div>
      <div class="discord_container">
        <h3>
          {{ config.extra.landing_page.discord.title }}
        </h3>
        <p>
          {{ config.extra.landing_page.discord.description }}
        </p>
        <div class="button-container">
          <a href="https://discord.r2devops.io?utm_medium=website&utm_source=r2devopsdocumentation&utm_campaign=homepage"
            title='{{ config.extra.landing_page.discord.button_join.tooltip }}'>
            <button>
              {{ config.extra.landing_page.discord.button_join.text }}
            </button>
          </a>
          <a href="https://tally.so/r/w5Edvw" title='{{ config.extra.landing_page.discord.button_ticket.tooltip }}'>
            <button>
              {{ config.extra.landing_page.discord.button_ticket.text }}
            </button>
          </a>
        </div>
        <img src="./images/r2_learning.svg" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block content %}
{% endblock %}