{% extends "base.html" %}


{% block extrahead %}

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@R2Devops" />
<meta name="twitter:title" content="{{page.title}} - R2Devops documentation"  />
<meta name="twitter:description" content="Create powerful CI/CD pipelines in 3 clicks using R2Devops! Select the plug and play jobs you need from our list, then trigger your pipeline and enjoy." />
<meta name="twitter:image" content="https://docs.r2devops.io/images/twitter_card.png" />
<!-- End Twitter card -->

<!-- Plausible -->
<script async defer data-domain="r2devops.io" src="https://plausible.io/js/plausible.js"></script>
<!-- End Plausible -->
{% endblock %}